In [1]:
#import liberies 
import pandas as pd
import numpy as np
import xgboost as xgb

In [2]:
#data collection
dataset=pd.read_csv("Traffic.csv")
dataset

                  DateTime  Junction  Vehicles           ID
0      2015-11-01 00:00:00         1        15  20151101001
1      2015-11-01 01:00:00         1        13  20151101011
2      2015-11-01 02:00:00         1        10  20151101021
3      2015-11-01 03:00:00         1         7  20151101031
4      2015-11-01 04:00:00         1         9  20151101041
...                    ...       ...       ...          ...
48115  2017-06-30 19:00:00         4        11  20170630194
48116  2017-06-30 20:00:00         4        30  20170630204
48117  2017-06-30 21:00:00         4        16  20170630214
48118  2017-06-30 22:00:00         4        22  20170630224
48119  2017-06-30 23:00:00         4        12  20170630234

[48120 rows x 4 columns]

In [3]:
dataset.columns = dataset.columns.str.strip()

In [4]:
#Feature Selction

dataset ['DateTime'] = pd.to_datetime(dataset ['DateTime'])
dataset['Hour'] = dataset['DateTime'].dt.hour
dataset['Day'] = dataset['DateTime'].dt.day
dataset['Weekday'] = dataset['DateTime'].dt.weekday
dataset['Month'] = dataset['DateTime'].dt.month
dataset['Year'] = dataset['DateTime'].dt.year

In [5]:
# Drop unneeded columns
dataset = dataset.drop(columns=['DateTime', 'ID'])

In [6]:
dataset.columns

Index(['Junction', 'Vehicles', 'Hour', 'Day', 'Weekday', 'Month', 'Year'], dtype='object')

In [7]:
independent=dataset.drop(columns='Vehicles')
dependent=dataset['Vehicles']

In [8]:
#split train and test deta
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size=0.2, random_state=42)

In [9]:
print(X_train.columns.tolist())

['Junction', 'Hour', 'Day', 'Weekday', 'Month', 'Year']

In [11]:
#Model Creation
from sklearn.ensemble import GradientBoostingRegressor
gb_regressor = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=5, random_state=42)
gb_regressor.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=5,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=42, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [12]:
#evaluate the model
Y_pred=gb_regressor.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(Y_pred , y_test)
r_score

0.9259402569208146